
/*  ------------->>> VARIABLES <<<---------------------  */

//COLORS

//$black: #525c6e;
$black:#414042;
$white: #fff;
$blue:#3b04dc;

$pink:#ffb0b4;
$lightPink:#ffb0b482;
$veryLightPink:#ffb0b43b;

$orange:#f99006;

$corail:#f2530b;
$lightCorail:#f2530b29;