/*  -------------------------------------------------------
------------------->>> ../FONTS <<<----------------------
-------------------------------------------------------  */
$Bastia: 'Bastia';

@font-face {
  font-family: 'Bastia';
  src: url('../fonts/Bastia/Bastia-Bold.eot') format('embedded-opentype'),
    url('../fonts/Bastia/Bastia-Bold.woff2') format('woff2'), url('../fonts/Bastia/Bastia-Bold.woff') format('woff'),
    url('../fonts/Bastia/Bastia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$Montserrat: 'Montserrat';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.eot') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
