footer {
    background-color: $lightPink;

    .fat-footer {
        padding-bottom: 30px;
        padding-top: 30px;

        .title {
            text-align: center;
            font-family: $Bastia;
            color: $corail;
            padding-bottom: 20px;
            font-size: 22px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 20px 0;

            li {
                padding: 0 10px 5px 0;

                @media screen and (min-width: $break-large) {
                    padding: 0 10px 5px 10px;
                }

                a,
                button {
                    text-decoration: none;
                    color: $black;
                    padding: 0;
                }
            }
        }

        p {
            padding-bottom: 10px;

            &:last-of-type {
                padding-bottom: 0;
            }

            i {
                color: $corail;
            }
        }

        a:not(.btn-cta) {
            display: inline-block;
            text-decoration: none;
            color: $black;
        }

        a.btn-cta {
            margin-top: 0;
            margin-bottom: 25px;
            @media screen and (min-width: $break-medium) {
                margin-top: 0;

            }
            @media screen and (min-width: $break-large) {
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }

    .thin-footer {
        background-color: $corail;
        color: $pink;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;

        a {
            font-size: 16px;
            color: $pink;
        }
    }
}