.bookcase {
  h2 {
    font-family: 'Gotham Black';
    text-transform: uppercase;
    @include font-size(1.375rem);
  }

  .scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    scrollbar-width: thin;
  }

  .book {
    display: inline-block;
    height: 18rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    vertical-align: bottom;
    .book-cover {
      height: 100%;
      width: auto;
      border-radius: 0.25rem;
    }
  }
}
