<!doctype html>
<html lang="fr">
  <head><%= partial 'partials/head' %></head>

  <body>
    <%= partial 'partials/nav' %>

    <%= yield %>

    <footer><%= partial 'partials/footer' %></footer>
  </body>
</html>
