@import 'gotham-black';
@import 'montserrat-regular';
@import 'montserrat-semibold';
@import 'ranille';

.gotham-black {
  font-family: 'Gotham Black';
}

.montserrat {
  font-family: 'Montserrat';
}

.montserrat-semibold {
  font-family: 'Montserrat SemiBold';
}

.ranille {
  font-family: 'Ranille';
}
