@font-face {
  font-family: 'Gotham Black';
  src: url(font-path('gotham-black.woff2')) format('woff2'), url(font-path('gotham-black.otf')) format('opentype');
  unicode-range: U+0020-007E, U+00A0-00A3, U+00A5, U+00A7-00AB, U+00AE-00B1, U+00B4, U+00B6-00B8, U+00BA-00BB,
    U+00BF-0107, U+010A-011B, U+011E-0123, U+0126-0127, U+012A-0131, U+0136-0137, U+0139-0148, U+014C-015B, U+015E-0165,
    U+016A-017E, U+0192, U+01FA-01FF, U+0218-0219, U+0259, U+02C6-02C7, U+02D8-02DD, U+0326, U+1E80-1E85, U+1EF2-1EF3,
    U+2002-2005, U+2009-200A, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044,
    U+20AC, U+2117, U+2120, U+2122, U+2212, U+FB00-FB04;
}

:root {
  --gotham-black-aalt: 'aalt' off;
  --gotham-black-salt: 'salt' off;
  --gotham-black-ss01: 'ss01' off;
  --gotham-black-ss02: 'ss02' off;
  --gotham-black-ss03: 'ss03' off;
  --gotham-black-ss04: 'ss04' off;
  --gotham-black-ss05: 'ss05' off;
}

.gotham-black-aalt {
  --gotham-black-aalt: 'aalt' on;
}

.gotham-black-salt {
  --gotham-black-salt: 'salt' on;
}

.gotham-black-ss01 {
  --gotham-black-ss01: 'ss01' on;
}

.gotham-black-ss02 {
  --gotham-black-ss02: 'ss02' on;
}

.gotham-black-ss03 {
  --gotham-black-ss03: 'ss03' on;
}

.gotham-black-ss04 {
  --gotham-black-ss04: 'ss04' on;
}

.gotham-black-ss05 {
  --gotham-black-ss05: 'ss05' on;
}

.gotham-black-aalt,
.gotham-black-salt,
.gotham-black-ss01,
.gotham-black-ss02,
.gotham-black-ss03,
.gotham-black-ss04,
.gotham-black-ss05 {
  font-feature-settings: var(--gotham-black-aalt), var(--gotham-black-salt), var(--gotham-black-ss01),
    var(--gotham-black-ss02), var(--gotham-black-ss03), var(--gotham-black-ss04), var(--gotham-black-ss05);
}
