$coral: #e9492c;
$green: #0a7571;
$green-light: #6abea2;
$pink: #f08a8d;
$blue: #3056a3;
$pink-light: #fae1e1;
$cream: #f7efdc;

.text-coral {
  color: $coral;
}
.text-green {
  color: $green;
}
.text-green-light {
  color: $green-light;
}
.text-pink {
  color: $pink;
}
.text-blue {
  color: $blue;
}
.text-pink-light {
  color: $pink-light;
}
.text-cream {
  color: $cream;
}

.bg-coral {
  background-color: $coral;
}
.bg-green {
  background-color: $green;
}
.bg-green-light {
  background-color: $green-light;
}
.bg-pink {
  background-color: $pink;
}
.bg-blue {
  background-color: $blue;
}
.bg-pink-light {
  background-color: $pink-light;
}
.bg-cream {
  background-color: $cream;
}
