$colors: (
  coral: #e9492c,
  green: #0a7571,
  green-light: #6abea2,
  pink: #f08a8d,
  blue: #3056a3,
  pink-light: #fae1e1,
  cream: #f7efdc,
);

@function color($name) {
  @return map-get($colors, $name);
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
}
