@import 'colors.scss';
@import 'breakpoints.scss';
@import 'header.scss';
@import 'footer.scss';

@import 'fonts';
@import 'nav';

body {
  font-family: 'Montserrat';
}

main {
  padding-top: 4rem;
  overflow-x: hidden;
}
section {
  scroll-margin-top: 4rem;
}

h1,
h2,
h3 {
  font-family: 'Ranille';
}

h1,
h2 {
  font-size: 4rem;
}

.highlight {
  box-shadow: inset 0 -0.5em 0 $pink-light;
  padding-bottom: 0;
  display: inline;
}

.btn-cta {
  font-family: 'Gotham Black';
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: $pink;
  border-radius: 300px;
  box-shadow: 0.25rem 0.25rem $pink;
  background-color: $blue;
  border-color: $blue;
  transition: all 0.3s linear;

  &:hover {
    box-shadow: 0 0 $pink;
    transition: all 0.3s linear;
  }
}

#raphaele {
  background-image: url('/images/raphaele-rodellar-reflexologie-plantaire-bordeaux.jpg');
  background-size: cover;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: $break-medium) {
    height: 650px;
  }
  @media screen and (min-width: $break-large) {
    height: 100%;
  }
}

#practice {
  background-image: url('../images/raphaele-rodellar-therapeute-reflexologue-bordeaux.jpg');
  background-size: cover;
  height: 450px;
  background-position: bottom center;
  background-repeat: no-repeat;

  @media screen and (min-width: $break-medium) {
    height: 650px;
  }
  @media screen and (min-width: $break-large) {
    height: 100%;
  }
}
