@import '../../vendor/rfs/scss';
@import 'breakpoints';

@import 'fonts';

@import 'colors';
@import 'nav';

body {
  font-family: 'Montserrat';
}

main {
  padding-top: 4rem;
  overflow-x: hidden;
}
section {
  scroll-margin-top: 4rem;
}

h1,
h2,
.h1,
.h2 {
  font-family: 'Ranille';
  @include font-size(4rem);
}

.highlight {
  box-shadow: inset 0 -0.5em 0 color(pink-light);
  padding-bottom: 0;
  display: inline;
}

.btn-cta {
  font-family: 'Gotham Black';
  @include padding(1rem 1.5rem);
  @include font-size(1rem);
  @include rfs(0.25rem, letter-spacing);
  text-transform: uppercase;
  text-decoration: none;
  color: color(pink);
  border-radius: 3rem;
  box-shadow: 0.25rem 0.25rem color(pink);
  background-color: color(blue);
  border-color: color(blue);
  transition: all 0.3s linear;

  &:hover {
    box-shadow: 0 0 color(pink);
    transition: all 0.3s linear;
  }
}

#raphaele {
  background-image: url('/images/raphaele-rodellar-reflexologie-plantaire-bordeaux.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 50vh;
}

#practice {
  background-image: url('../images/raphaele-rodellar-therapeute-reflexologue-bordeaux.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 50vh;
}
