/*  -------------------------------------------------------
------------------->>> FONTS <<<----------------------
-------------------------------------------------------  */
@font-face {
  font-family: "Bastia";
  src: url("fonts/BastiaBold/Bastia-Bold.eot") format("embedded-opentype"), url("fonts/BastiaBold/Bastia-Bold.woff2") format("woff2"), url("fonts/BastiaBold/Bastia-Bold.woff") format("woff"), url("fonts/BastiaBold/Bastia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.eot") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*  ------------->>> VARIABLES <<<---------------------  */
/*  -------------------------------------------------------
    ------------------->>> MIXINS <<<----------------------
    -------------------------------------------------------  */
/*Flexbox*/
/* Clearfix*/
/*Position*/
/*Positioning helpers*/
/*Keyframes*/
/*Animations*/
/* Usage
@include gradient(#07c, #06f, vertical);
*/
/* Usage
@include placeholder {
  font-style:italic;
  color: white;
  font-weight:100;
}*/
body {
  font-family: "Montserrat";
  font-size: 16px;
  color: #414042;
  overflow-x: hidden;
}
body a.btn-cta {
  font-weight: bold;
  display: inline-block;
  margin-top: 15px;
  text-transform: uppercase;
  padding: 15px 25px;
  text-decoration: none;
  color: #f99006;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 300px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 300px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 300px;
  box-shadow: 5px 5px #f99006;
  background-color: #3b04dc;
  border-color: #3b04dc;
  transition: all 0.3s linear;
}
body a.btn-cta:hover {
  box-shadow: 0 0 #f99006;
  transition: all 0.3s linear;
}
body p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 16px;
}
body p:last-of-type {
  padding-bottom: 0;
}
body p span.fat {
  font-weight: bold;
  display: inline;
}
body p.highlighted {
  padding-bottom: 0;
  box-shadow: inset 0 -11px 0 rgba(255, 176, 180, 0.5098039216);
  display: inline-block;
}
body p span.highlighted {
  padding-bottom: 0;
  box-shadow: inset 0 -17px 0 rgba(255, 176, 180, 0.5098039216);
  display: inline-block;
}
body p span.highlighted-little {
  box-shadow: inset 0 -11px 0 rgba(255, 176, 180, 0.5098039216);
}
body span.highlighted {
  box-shadow: inset 0 -11px 0 rgba(255, 176, 180, 0.5098039216);
}
body h1,
body h2,
body h3 {
  font-family: "Bastia";
  margin-bottom: 0;
}
body h1 span,
body h2 span {
  display: block;
  color: #f99006;
}
body h1 span:nth-of-type(2),
body h2 span:nth-of-type(2) {
  color: #f2530b;
}
body h1 span:last-of-type,
body h2 span:last-of-type {
  color: #ffb0b4;
}
body h1 {
  font-size: 10vw;
  padding-bottom: 2vh;
}
@media screen and (min-width: 768px) {
  body h1 {
    font-size: 6vw;
  }
}
@media screen and (min-width: 992px) {
  body h1 {
    font-size: 75px;
    padding-bottom: 6vh;
  }
}
body h2 {
  font-size: 8vw;
  padding-bottom: 4vh;
}
@media screen and (min-width: 768px) {
  body h2 {
    font-size: 6vw;
  }
}
@media screen and (min-width: 992px) {
  body h2 {
    font-size: 65px;
    padding-bottom: 0;
  }
}
body h3 {
  padding-bottom: 2vh;
}
body .intro {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}
@media screen and (min-width: 992px) {
  body .intro {
    padding-top: 8vh;
    padding-bottom: 10vh;
  }
}
@media screen and (min-width: 1200px) {
  body .intro {
    padding-top: 0;
    padding-bottom: 12vh;
  }
}
body .intro .about {
  background-image: url("img/raphaele-rodellar-reflexologie-plantaire-bordeaux.jpg");
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body #section1 {
  padding-top: 8vh;
  padding-bottom: 8vh;
  position: relative;
}
@media screen and (min-width: 1200px) {
  body #section1 {
    padding-top: 0;
    padding-bottom: 12vh;
  }
}
body #section1 .row {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  body #section1 .row a.btn-cta {
    margin-top: 4vh;
  }
}
body #section2 {
  position: relative;
}
body #section2 h2.outline {
  padding: 0;
}
body #section2 h2.outline span {
  color: #f2530b;
}
body #section2 h2.outline span:nth-of-type(2) {
  color: #f2530b;
}
body #section2 h2.outline span:last-of-type {
  color: #f2530b;
}
body #section2 .content {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 176, 180, 0.231372549);
}
body #section2 .content .item-title {
  padding-top: 6vh;
  padding-bottom: 6vh;
}
@media screen and (min-width: 992px) {
  body #section2 .content .item-title .wrap {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  body #section2 .content .item-title .wrap {
    max-width: 68%;
  }
}
body #section2 .content .item {
  color: #f2530b;
  background: rgba(242, 83, 11, 0.1607843137);
  padding-top: 6vh;
  padding-bottom: 6vh;
}
@media screen and (min-width: 992px) {
  body #section2 .content .item .wrap {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  body #section2 .content .item .wrap {
    max-width: 68%;
  }
}
body #section2 .action {
  text-align: center;
  margin-top: 40px;
}
body #section3 {
  position: relative;
  padding-bottom: 10vh;
  padding-top: 10vh;
}
@media screen and (min-width: 1200px) {
  body #section3 {
    padding-top: 14vh;
    padding-bottom: 14vh;
  }
}
body #section3 span.highlighted {
  box-shadow: inset 0 -11px 0 rgba(255, 176, 180, 0.51);
  display: inline;
}
body #section4 .about {
  background-image: url("img/raphaele-rodellar-reflexologie-plantaire-bordeaux-3.jpg");
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body #section4 h2.two {
  padding-bottom: 3vh;
  color: #f99006;
}
body #section4 i {
  color: #f2530b;
  padding-right: 5px;
}
body #section5 {
  padding-top: 10vh;
  position: relative;
}
body #section5 .row {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
body #section6 {
  margin-top: 10vh;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #3b04dc;
  color: white;
  position: relative;
}
body #section6 p,
body #section6 a {
  color: white;
  text-align: center;
  text-decoration: none;
}
body #section6 p:hover,
body #section6 a:hover {
  text-decoration: none;
}
body .modal {
  top: 40%;
}

header {
  position: relative;
}
header nav.navbar-expand-lg .navbar-burger {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  z-index: 999;
}
header nav.navbar-expand-lg .navbar-burger #burger {
  cursor: pointer;
  width: 30px;
  position: relative;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
header nav.navbar-expand-lg .navbar-burger #burger span {
  background: #f2530b;
  display: block;
  height: 4px;
  width: 30px;
  opacity: 1;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 30px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 30px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 30px;
  position: absolute;
  left: 0;
}
header nav.navbar-expand-lg .navbar-burger #burger span:nth-child(1) {
  top: 7px;
}
header nav.navbar-expand-lg .navbar-burger #burger span:nth-child(3) {
  top: 14px;
}
header nav.navbar-expand-lg .navbar-burger #burger.open span:nth-child(1) {
  top: 10px;
  width: 30px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
header nav.navbar-expand-lg .navbar-burger #burger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
header nav.navbar-expand-lg .navbar-burger #burger.open span:nth-child(3) {
  width: 30px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
header nav.navbar-expand-lg .navbar-collapse {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
header nav.navbar-expand-lg .navbar-collapse a.navbar-brand {
  font-family: "Bastia";
  margin: 0;
  color: #f2530b;
  padding: 0 30px;
  display: none;
  font-size: 25px;
}
@media screen and (min-width: 992px) {
  header nav.navbar-expand-lg .navbar-collapse a.navbar-brand {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  header nav.navbar-expand-lg .navbar-collapse a.navbar-brand {
    font-size: 32px;
  }
}
header nav.navbar-expand-lg .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
  color: #f2530b;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px;
}
header nav.navbar-expand-lg .navbar-collapse ul.navbar-nav li.nav-item a.nav-link.active {
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  header nav.navbar-expand-lg .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    font-size: 17px;
    padding: 0 15px;
  }
}
header nav.navbar-expand-lg .navbar-collapse ul.navbar-nav li.nav-item:first-of-type a.nav-link {
  padding-left: 0;
}
header nav.navbar-expand-lg .navbar-collapse ul.navbar-nav li.nav-item:last-of-type a.nav-link {
  padding-right: 0;
}
header nav.navbar-expand-lg.sticked {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: white;
  box-shadow: 0 2px 4px rgba(76, 76, 75, 0.1019607843);
  z-index: 9999;
}
header .purpose {
  padding-top: 8vh;
  padding-bottom: 8vh;
}
header .purpose .content {
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
}
header .purpose .content p {
  font-family: "Bastia";
  font-size: 9vw;
  margin-bottom: 3vh;
  position: relative;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  header .purpose .content p {
    font-size: 6vw;
  }
}
@media screen and (min-width: 992px) {
  header .purpose .content p {
    font-size: 70px;
    margin-bottom: 5vh;
  }
}
header .purpose .content p i {
  color: rgba(255, 176, 180, 0.5098039216);
  font-size: 8vh;
  position: absolute;
  z-index: -9;
  left: 0;
  top: -3vh;
}
@media screen and (min-width: 992px) {
  header .purpose .content p i {
    font-size: 13vh;
    left: -0.3vw;
    top: 0;
  }
}
header .purpose .content p:last-of-type {
  font-family: "Montserrat";
  font-size: 5vw;
}
@media screen and (min-width: 768px) {
  header .purpose .content p:last-of-type {
    font-size: 3vw;
  }
}
@media screen and (min-width: 992px) {
  header .purpose .content p:last-of-type {
    font-size: 30px;
  }
}
header .purpose .wave {
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: -9;
}
header .purpose .wave img {
  max-width: 320px;
  height: auto;
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

footer {
  background-color: rgba(255, 176, 180, 0.5098039216);
}
footer .fat-footer {
  padding-bottom: 30px;
  padding-top: 30px;
}
footer .fat-footer .title {
  text-align: center;
  font-family: "Bastia";
  color: #f2530b;
  padding-bottom: 20px;
  font-size: 22px;
}
footer .fat-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .fat-footer ul li {
  padding: 0 10px 5px 10px;
}
footer .fat-footer ul li a, footer .fat-footer ul li button {
  text-decoration: none;
  color: #414042;
  padding: 0;
}
footer .fat-footer p {
  padding-bottom: 10px;
}
footer .fat-footer p:last-of-type {
  padding-bottom: 0;
}
footer .fat-footer p i {
  color: #f2530b;
}
footer .fat-footer a {
  display: inline-block;
  padding-bottom: 10px;
  text-decoration: none;
  color: #414042;
}
footer .thin-footer {
  background-color: #f2530b;
  color: #ffb0b4;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
