.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-brand-padding-y: 0;

  --bs-navbar-color: #e9492c;
  --bs-navbar-hover-color: #e9492c;
  --bs-navbar-active-color: #e9492c;
  --bs-navbar-toggler-border-color: transparent;

  --bs-nav-link-font-size: 1rem;
  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    --bs-nav-link-font-size: 0.8rem;
  }
  @media (min-width: map-get($grid-breakpoints, 'xl')) {
    --bs-nav-link-font-size: 1rem;
  }

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    &.navbar-expand-lg {
      .navbar-nav .nav-link:not(.no-scrollspy) {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          background: color(coral);
          height: 2px;
          transition: all 0.5s;
          width: 0%;
        }
        &.active:after,
        &:hover:after {
          width: 100%;
        }
      }
    }
  }

  .ramps {
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      content: '';
      background: color(coral);
      height: 1px;
      transition: all 0.5s;
      width: 100%;
    }
    &:hover {
      &:before,
      &:after {
        width: 0;
      }
    }
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
      &:before {
        top: -1.3em;
      }
      &:after {
        bottom: 0.2em;
      }
    }
    @media (min-width: map-get($grid-breakpoints, 'xl')) {
      &:before {
        top: -1.5em;
      }
      &:after {
        bottom: 0.3em;
      }
    }
  }
}
