<div class="container fat-footer">
  <div class="row">
    <div class="title">Raphaële Rodellar</div>
    <div class="col-12 col-md-6 col-lg-3 col-xl-2">
      <ul>
        <li>
          <a aria-current="page" href="#section1">Philosophie</a>
        </li>
        <li>
          <a aria-current="page" href="#section2">Pour qui ?</a>
        </li>
        <li>
          <a aria-current="page" href="#section3">Principe</a>
        </li>
        <li>
          <a aria-current="page" href="#section4">En pratique</a>
        </li>
        <li>
          <a aria-current="page" href="#section5">À propos</a>
        </li>
        <li>
          <a aria-current="page" href="#section6">Contact</a>
        </li>
        <li>
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Mentions légales
          </button>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4  text-left text-xl-center">
      <a href="https://patoumatic.fr/raphaele" target="patoumatic" class="btn-cta">Réserver votre
        séance</a>
    </div>
    <div class="col-12 col-md-12 col-lg-5 col-xl-6">
      <p>
        La réflexologie plantaire ne pose pas de diagnostic, ne se substitue pas au traitement
        prescrit par votre médecin, ne remplace pas une consultation médicale.
      </p>
      <p>Ici, pas de cookies déposés, on préfère les manger. <i class="fa-solid fa-cookie-bite"></i></p>
      <p>Ce site est une histoire de famille <i class="fa-solid fa-heart"></i> Il a été conçu et
        développé avec amour, patience,
        créativité et enthousiasme par
        <a href="https://iloveweb.fr" target="iloveweb">Carine</a>, ma cousine, et François, mon conjoint. Un grand
        merci à eux pour cela et pour tout le reste !
      </p>
    </div>

  </div>
</div>
<div class="container-fluid thin-footer">
  <div class="row">
    <div>
      <div class="col-12">
        <p>
          Copyright {{ now.Format "2006"}} - {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ end }} - <a
            href="https://www.instagram.com/raphaelerodellar/" target="instagram"><i
              class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="dark-backdrop"></div>

<!-- modale mentions légales -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i></button>
      </div>
      <div class="modal-body">
        <p>le nom de l’hébergeur</p>
        <p>Raphaële Rodellar</p>
        <p>8 rue Saint-Joseph, 33000 Bordeaux</p>
        <p>raphaele@hey.com</p>
        <p>06 70 93 50 51</p>
      </div>

    </div>
  </div>
</div>
