<footer>
  <div class="container fat-footer">
      <div class="row">
          <div class="title">Raphaële Rodellar</div>
          <div class="col-12 col-md-6">
              <ul>
                  <li>
                      <a href="">Philosophie</a>
                  </li>
                  <li>
                      <a href="">Pour qui ?</a>
                  </li>
                  <li>
                      <a href="">Principe</a>
                  </li>
                  <li>
                      <a href="">En pratique</a>
                  </li>
                  <li>
                      <a href="">À propos</a>
                  </li>
                  <li>
                      <a href="">Contact</a>
                  </li>
                  <li>
                      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Mentions légales
                      </button>
                  </li>
              </ul>
          </div>
          <div class="col-12 col-md-6">
              <p>
                  La réflexologie plantaire ne pose pas de diagnostic et ne se substitue pas au traitement
                  prescrit par votre médecin, ne remplace pas une consultation médicale.
              </p>
              <p>Ici, pas de cookies déposés, on préfère les manger <i class="fa-solid fa-cookie-bite"></i></p>
              <p>Ce site est une histoire de famille. <i class="fa-solid fa-heart"></i> Il a été conçu et
                  développé avec amour, patience,
                  créativité, enthousiasme et ingéniosité par ma cousine Carine et mon conjoint François. Un grand
                  merci à eux pour cela et pour tout le reste !</p>
          </div>

      </div>
  </div>
  <div class="container-fluid thin-footer">
      <div class="row">
          <div>
              <div class="col-12">
                  <p>
                      Copyright 2022 - Raphaële Rodellar - Réfléxologue plantaire
                  </p>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- modale mentions légales -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              ...
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
          </div>
      </div>
  </div>
</div>
