<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand d-lg-none" id="logoMobil" href="#">Raphaële Rodellar</a>
    <div
      class="navbar-burger d-lg-none navbar-toggler"
      data-bs-target="#navbarNav"
      data-bs-toggle="collapse"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div id="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" id="nav1">
          <a class="nav-link" aria-current="page" href="#intro">philosophie</a>
        </li>
        <li class="nav-item" id="nav2">
          <a class="nav-link" aria-current="page" href="#section1">principe</a>
        </li>
        <li class="nav-item" id="nav3">
          <a class="nav-link" aria-current="page" href="#section2">pour qui ?</a>
        </li>
      </ul>
      <a id="logo" class="navbar-brand" href=""> Raphaële Rodellar </a>
      <ul class="navbar-nav">
        <li class="nav-item" id="nav4">
          <a class="nav-link" aria-current="page" href="#section4">en pratique</a>
        </li>
        <li class="nav-item" id="nav5">
          <a class="nav-link" aria-current="page" href="#section5">à propos</a>
        </li>
        <li class="nav-item spe">
          <a class="nav-link" aria-current="page" href="https://patoumatic.fr/raphaele" target="patoumatic">réserver</a>
        </li>
        <li class="nav-item">
          <a class="social" href="https://www.instagram.com/raphaelerodellar/" target="instagram"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid purpose">
  <!-- <a href="https://patoumatic.fr/raphaele" target="patoumatic" class="btn-cta">Réserver</a> -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 content">
        <p>
          <i class="fas fa-quote-left"></i>
          Être et se sentir acteur de sa santé
        </p>
        <p>
          Durant
          <span class="highlighted"> une séance de réflexologie plantaire, </span>
          nous cheminons, <span class="highlighted">nous explorons ensemble </span>
          vos blocages et vos tensions pour les dénouer
        </p>
      </div>
    </div>
  </div>
</div>
