<nav id="navbar" class="navbar navbar-expand-lg bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-lg-none" data-bs-dismiss="offcanvas" href="#">
      <img src="/images/logo-raphaele-rodellar-72h.png" alt="Logo Raphaële Rodellar" height="32" />
    </a>
    <div
      class="navbar-toggler d-lg-none navbar-burger"
      data-bs-target="#navbarNav"
      data-bs-toggle="offcanvas"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="offcanvas offcanvas-start mt-lg-0" id="navbarNav">
      <div class="offcanvas-body justify-content-lg-center">
        <ul class="navbar-nav ps-3 text-uppercase lh-lg align-items-lg-center" data-bs-dismiss="offcanvas">
          <li class="nav-item d-lg-none">
            <a class="nav-link" aria-current="page" href="https://santé-vous.fr/raphaële" target="sante-vous"
              >réserver</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 me-lg-2 me-xl-3" aria-current="page" href="#section1">philosophie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 mx-lg-2 mx-xl-3" aria-current="page" href="#section2">principe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 mx-lg-2 mx-xl-3" aria-current="page" href="#section3">pour qui ?</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link navbar-brand p-lg-0 mx-lg-3" data-bs-dismiss="offcanvas" href="#">
              <img src="/images/logo-raphaele-rodellar-72h.png" alt="Logo Raphaële Rodellar" height="36" />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 mx-lg-2 mx-xl-3" aria-current="page" href="#section4">en pratique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-lg-0 mx-lg-2 mx-xl-3" aria-current="page" href="#section5">à propos</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a
              class="nav-link p-lg-0 mx-lg-2 mx-xl-3"
              aria-current="page"
              href="https://santé-vous.fr/raphaële"
              target="sante-vous"
              >réserver</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link p-lg-0 ms-lg-2 ms-xl-3 fs-5"
              href="https://www.instagram.com/raphaelerodellar/"
              target="instagram"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
