{{ define "main" }}
<section id="intro" class="intro container-fluid">
  <!-- <div class="bullet"><img src="images/bulle-dots.png"></div> -->

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="about"></div>
      </div>
      <div class="col-12 col-lg-6 content">
        <h1>
          <span>Raphaële</span>
          <span>Thérapeute</span>
          <span>Réflexologue</span>
        </h1>
        <p>
          J'aborde mon travail de réflexologue plantaire comme
          <span class="fat">l'art de prendre soin.</span>
        </p>
        <p>
          <span class="fat">Le toucher et l'écoute subtile des zones réflexes de vos pieds </span>
          me permet de créer
          <span class="fat">un dialogue avec votre corps à travers vos pieds.</span>
        </p>
        <p>
          Ces pieds qui nous portent, nous ancrent, nous donnent des ailes, nous font danser, et parfois trébucher.
          <span class="fat">Ils nous connectent au monde, tout en étant le reflet de notre santé intérieure.</span>
        </p>
        <p>Sous mes doigts les points s'assouplissent, me guidant vers une zone suivante à travailler.</p>
        <p class="highlighted">Chaque séance, <span class="fat">chaque voyage, est unique et passionnant.</span></p>
      </div>
    </div>
  </div>
</section>
<section id="section1" class="container-fluid">
  <div class="wave"><img src="images/vague2.png" /></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2>
          <span>Se mettre</span>
          <span>À l'écoute</span>
          <span>De son corps</span>
        </h2>
      </div>
      <div class="col-12 col-lg-6 content">
        <p>
          Dedans comme dehors, quelle que soit l’échelle à laquelle on regarde, tout est interconnecté et
          interdépendant. Nous ne faisons pas exception.
        </p>
        <p>
          Chacun d’entre nous développe, au gré de ses expériences, à chaque instant,
          <span class="fat"> son propre écosystème intérieur. </span>
        </p>
        <p>
          Quand le corps « parle », il parle certes de lui, mais aussi de l’ensemble de votre écosystème.
          <span class="fat">Il est bien plus qu’une machine ou qu’une suite de réactions chimiques.</span>
        </p>
        <p>
          Et si vous preniez le temps de l’écouter d’une autre oreille ? De partir à sa découverte. De
          <span class="fat">
            comprendre le langage qui s’est créé entre lui et votre histoire, votre environnement, vos émotions et vos
            pensées.</span
          >
        </p>
        <p class="highlighted">
          La réflexologie plantaire thérapeutique
          <span class="fat"> prend ici tout son sens. </span>
        </p>
        <p>
          <a href="https://patoumatic.fr/raphaele" target="patoumatic" class="btn-cta">Réservez votre séance</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="section2" class="container-fluid">
  <div class="row content">
    <div class="col-12 col-md-6 item-title">
      <div class="wrap">
        <h2 class="outline">
          <span>La réflexologie</span>
          <span>Pour</span>
          <span>Qui ?</span>
        </h2>
      </div>
    </div>
    <div class="col-12 col-md-6 item">
      <div class="wrap">
        <p>
          Pour vous, pour simplement
          <span class="fat">prendre soin de vous et de votre santé de manière globale !</span>
        </p>

        <ul>
          <li>
            Quand <span class="fat">votre corps vous dit que vous tirez sur la corde </span>(fatigue, stress, troubles
            du sommeil, troubles digestifs, douleurs chroniques, …)
          </li>
          <li>
            Quand vous avez besoin de <span class="fat">vous reconnecter à vous-même</span>
            (post-partum, parentalité, aidance, surmenage …)
          </li>
          <li>
            Pour <span class="fat">vous accompagner dans votre vie de femme</span> (endométriose, grossesse, ménopause,
            …)
          </li>
          <li>
            En <span class="fat">complément de la médecine occidentale</span>, avec l’accord de votre médecin, pour
            soulager les effets secondaires des traitements ou les symptômes (cancers, maladies neuro-dégénératives,
            ...)
          </li>
        </ul>

        <p>
          <span class="fat">La réflexologie est ouverte à tous</span>. Chaque séance est personnalisée. N’hésitez pas à
          m’appeler pour toute question.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 item last">
      <div class="wrap">
        <p>
          Le dessous du pied est relié à l'ensemble de notre corps selon
          <span class="fat">une cartographie précise.</span>

          Sous mes doigts, certaines zones se révèlent dures, creuses, douloureuses, …
        </p>
        <p>
          Elles évoluent au fur et à mesure que
          <span class="fat">le corps et son énergie sont mis en mouvement.</span>
        </p>
        <p>
          Les tensions et les blocages du <span class="fat">corps</span> se détendent, mais également les
          <span class="fat">émotions</span> qui se sont cristallisées à l’intérieur, et ainsi les tensions et les
          blocages de <span class="fat">l’esprit</span>.
        </p>
        <p>La capacité d’auto-guérison du corps est stimulée, les différents systèmes ré-harmonisés.</p>
        <p>
          <span class="fat">Vous repartez le pas plus léger</span>, parfois comme sur un nuage, parfois plein⸱e
          d’énergie, parfois très relâché⸱e…
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 item-title last">
      <div class="wrap">
        <h2 class="outline">
          <span>La réflexologie</span>
          <span>Comment</span>
          <span>Ça marche ?</span>
        </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row action">
      <div class="col-12">
        <a href="https://patoumatic.fr/raphaele" target="patoumatic" class="btn-cta">Réservez votre séance</a>
      </div>
    </div>
  </div>
</section>
<section id="section4" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="about"></div>
      </div>
      <div class="col-12 col-lg-6 content">
        <h2 class="two">En pratique</h2>
        <p><span class="highlighted-little fat">Séance Adulte</span> – Durée 1h – Tarif 80€</p>
        <p><span class="highlighted-little fat">Séance Enfant</span> – Durée 45min – Tarif 60€</p>
        <p>
          <i class="fa-solid fa-socks"></i>
          Vous restez habillé⸱e, vous n’ôtez que vos chaussures et vos chaussettes.
        </p>
        <p>
          <i class="fa-solid fa-map-pin"></i>
          Le cabinet est situé au sein de
          <a href="https://goo.gl/maps/hk9oqUiB73Nd6xMJ8" target="maps">
            <span class="fat">l'Espace Santé des Chartrons</span>, 8 rue Saint-Joseph, 33000 Bordeaux.
          </a>
        </p>
        <p>
          <i class="fa-solid fa-euro-sign"></i>
          Règlement uniquement par chèque ou en espèces.
        </p>
        <p>
          Les séances sont <span class="fat">individuelles</span>, en dehors des bébés qui sont accompagnés de leur
          parent.
        </p>
        <p>
          <span class="fat">Pour les enfants</span>, nous décidons ensemble, à chaque séance, si l’adulte reste présent.
        </p>
        <p>
          <span class="fat">Le nombre de séances dépend de chaque personne</span>
          et <span class="fat">de chaque cas</span>. Je recommande en général de
          <span class="fat">faire 3 séances</span> dans un temps pouvant aller de quelques semaines à quelques mois,
          puis d'échanger sur votre besoin.
        </p>
        <p>
          <a href="https://patoumatic.fr/raphaele" target="patoumatic" class="btn-cta">Réservez votre séance</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="section5" class="container-fluid">
  <div class="wave"><img src="images/vague.png" /></div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2>
          <span>Tout arrêter</span>
          <span>Pour masser des pieds</span>
          <span>Toute la journée</span>
        </h2>
      </div>
      <div class="col-12 col-lg-6">
        <p>Comme souvent, <span class="fat">c’est une rencontre qui a changé ma perspective</span>.</p>
        <p>
          Un jour j’ai croisé la route de <span class="fat">Gwenn Libouban</span>. Une séance de réflexologie plantaire
          avec elle, puis un stage d’initiation en juillet 2019 et une évidence.
          <span class="fat">En août 2019, ma décision était prise.</span>
        </p>
        <p>
          J’ai, la plupart du temps, adoré mes 15 années d’ingénieur, de chef de projet, de manager. J’y ai mis beaucoup
          d’énergie, et souvent de la passion. J’aurais pu continuer, mais
          <span class="fat"> la réflexologie m’est tombée dessus sans crier gare. </span>
        </p>
        <p>
          Je voulais saisir ma chance et apprendre de cet extra-ordinaire duo que forment
          <span class="fat"> Gwenn Libouban et Paolo Malvarosa</span>. Thérapeutes profondément humains et vivants, ils
          ont acquis une véritable finesse et justesse dans l’écoute, le toucher et l’accompagnement. Ils m’ont ouvert
          <span class="fat">un monde dont je n’imaginais ni la complexité, ni la puissance, ni la grâce.</span>
        </p>
        <p>
          <span class="fat">Le chemin de cette formation </span>pour devenir thérapeute réflexologue plantaire est
          volontairement long, souvent confrontant, et <span class="fat">magnifiquement transformateur</span>.
        </p>
        <p>
          Après 3 ans de cette folle histoire avec eux et 11 autres élèves-apprentis,
          <span class="fat">la fabuleuse aventure de l’art du toucher ne fait que commencer.</span>
        </p>
        <p>
          <span class="highlighted-little">
            La réflexologie plantaire thérapeutique <span class="fat">c’est bien plus que masser des pieds</span>...
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="section6" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Pour toute question, n’hésitez pas à me contacter.</p>
        <p>
          <a href="mailto:%22Rapha%C3%ABle%20Rodellar%22%20%3Craphaele@hey.com%3E" target="mail">raphaele@hey.com</a>
        </p>
        <p>
          <a href="tel:+33670935051">06 70 93 50 51</a>
        </p>
        <br />
        <p>
          <a href="https://goo.gl/maps/hk9oqUiB73Nd6xMJ8" target="maps">
            Espace Santé des Chartrons, 8 rue Saint-Joseph, 33000 Bordeaux
          </a>
        </p>
        <p>Tram B : arrêts CAPC ou Chartrons | Tram C : arrêt Paul Doumer</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
