body {
  font-family: "Montserrat";
}
main {
  padding-top: 3.5rem;
  overflow-x: hidden;
}
section {
  scroll-margin-top: 3.5rem;
}
.height-navbar {
  height: 3.5rem;
}
.height-logo {
  height: calc(1.825rem + 6.9vw);
}
@media (min-width: 1200px) {
  .height-logo {
    height: 7rem;
  }
}
@media (min-width: 576px) {
  .height-logo {
    height: calc(1.625rem + 4.5vw);
  }
}
@media (min-width: 576px) and (min-width: 1200px) {
  .height-logo {
    height: 5rem;
  }
}
@media (min-width: 992px) {
  .height-logo {
    height: calc(1.525rem + 3.3vw);
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .height-logo {
    height: 4rem;
  }
}

/* Background images */
#raphaele {
  background-image: url("/pages/index/raphaele_rodellar_reflexologie_plantaire_bordeaux.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 80vw;
}
@media (min-width: 992px) {
  #raphaele {
    min-height: 50vh;
  }
}
#practice {
  background-image: url("/pages/index/raphaele_rodellar_therapeute_reflexologue_bordeaux.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 80vw;
}
@media (min-width: 992px) {
  #practice {
    min-height: 50vh;
  }
}
