@font-face {
  font-family: "Gotham Black";
  src: url("gotham-black.woff2") format("woff2"), url("gotham-black.otf") format("opentype");
  unicode-range: U+0020-007E, U+00A0-00A3, U+00A5, U+00A7-00AB, U+00AE-00B1, U+00B4, U+00B6-00B8, U+00BA-00BB,
    U+00BF-0107, U+010A-011B, U+011E-0123, U+0126-0127, U+012A-0131, U+0136-0137, U+0139-0148, U+014C-015B, U+015E-0165,
    U+016A-017E, U+0192, U+01FA-01FF, U+0218-0219, U+0259, U+02C6-02C7, U+02D8-02DD, U+0326, U+1E80-1E85, U+1EF2-1EF3,
    U+2002-2005, U+2009-200A, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044,
    U+20AC, U+2117, U+2120, U+2122, U+2212, U+FB00-FB04;
}
:root {
  --gotham-black-aalt: "aalt" off;
  --gotham-black-salt: "salt" off;
  --gotham-black-ss01: "ss01" off;
  --gotham-black-ss02: "ss02" off;
  --gotham-black-ss03: "ss03" off;
  --gotham-black-ss04: "ss04" off;
  --gotham-black-ss05: "ss05" off;
}
.gotham-black-aalt {
  --gotham-black-aalt: "aalt" on;
}
.gotham-black-salt {
  --gotham-black-salt: "salt" on;
}
.gotham-black-ss01 {
  --gotham-black-ss01: "ss01" on;
}
.gotham-black-ss02 {
  --gotham-black-ss02: "ss02" on;
}
.gotham-black-ss03 {
  --gotham-black-ss03: "ss03" on;
}
.gotham-black-ss04 {
  --gotham-black-ss04: "ss04" on;
}
.gotham-black-ss05 {
  --gotham-black-ss05: "ss05" on;
}
.gotham-black-aalt,
.gotham-black-salt,
.gotham-black-ss01,
.gotham-black-ss02,
.gotham-black-ss03,
.gotham-black-ss04,
.gotham-black-ss05 {
  -webkit-font-feature-settings: var(--gotham-black-aalt), var(--gotham-black-salt), var(--gotham-black-ss01),
    var(--gotham-black-ss02), var(--gotham-black-ss03), var(--gotham-black-ss04), var(--gotham-black-ss05);
  font-feature-settings: var(--gotham-black-aalt), var(--gotham-black-salt), var(--gotham-black-ss01),
    var(--gotham-black-ss02), var(--gotham-black-ss03), var(--gotham-black-ss04), var(--gotham-black-ss05);
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-regular.woff2") format("woff2"), url("montserrat-regular.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url("montserrat-semibold.woff2") format("woff2"), url("montserrat-semibold.otf") format("opentype");
}
@font-face {
  font-family: "Ranille";
  src: url("ranille.woff2") format("woff2"), url("ranille.otf") format("opentype");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A1-00A9, U+00AB, U+00AE-00B4, U+00B7-00B9, U+00BB-012B, U+012E-0137,
    U+0139-0148, U+014C-017E, U+0192, U+01C7, U+0218-021B, U+02C6-02C7, U+02D8-02DD, U+1E80-1E85, U+2013-2014,
    U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2039-203A, U+2074, U+20A3-20A4, U+20A7, U+20AC, U+20B9, U+2120,
    U+2122, U+2212, U+2260, U+E001-E009, U+E010-E019, U+E020-E029, U+E030-E039, U+E040-E049, U+E050-E059, U+E060-E069,
    U+E070-E079, U+E080-E089, U+E090-E099, U+E100-E109, U+E110-E119, U+E120-E129, U+E130-E139, U+E140-E149, U+E150-E159,
    U+E160-E169, U+E170-E179, U+E180-E189, U+E190-E199, U+E200-E209, U+E210-E211, U+FB00-FB03, U+FB06;
}
:root {
  --ranille-calt: "calt" off;
  --ranille-liga: "liga" on;
  --ranille-salt: "salt" off;
  --ranille-ss01: "ss01" off;
  --ranille-ss02: "ss02" off;
  --ranille-ss03: "ss03" off;
  --ranille-ss04: "ss04" off;
  --ranille-ss05: "ss05" off;
  --ranille-ss06: "ss06" off;
}
.ranille-calt {
  --ranille-calt: "calt" on;
}
.ranille-liga-off {
  --ranille-liga: "liga" off;
}
.ranille-salt {
  --ranille-salt: "salt" on;
}
.ranille-ss01 {
  --ranille-ss01: "ss01" on;
}
.ranille-ss02 {
  --ranille-ss02: "ss02" on;
}
.ranille-ss03 {
  --ranille-ss03: "ss03" on;
}
.ranille-ss04 {
  --ranille-ss04: "ss04" on;
}
.ranille-ss05 {
  --ranille-ss05: "ss05" on;
}
.ranille-ss06 {
  --ranille-ss06: "ss06" on;
}
:root,
.ranille-calt,
.ranille-liga-off,
.ranille-salt,
.ranille-ss01,
.ranille-ss02,
.ranille-ss03,
.ranille-ss04,
.ranille-ss05,
.ranille-ss06 {
  -webkit-font-feature-settings: var(--ranille-calt), var(--ranille-liga), var(--ranille-salt), var(--ranille-ss01),
    var(--ranille-ss02), var(--ranille-ss03), var(--ranille-ss04), var(--ranille-ss05), var(--ranille-ss06);
  font-feature-settings: var(--ranille-calt), var(--ranille-liga), var(--ranille-salt), var(--ranille-ss01),
    var(--ranille-ss02), var(--ranille-ss03), var(--ranille-ss04), var(--ranille-ss05), var(--ranille-ss06);
}
.gotham-black {
  font-family: "Gotham Black";
}
.montserrat {
  font-family: "Montserrat";
}
.montserrat-semibold {
  font-family: "Montserrat SemiBold";
}
.ranille {
  font-family: "Ranille";
}
.text-coral {
  color: #e9492c;
}
.bg-coral {
  background-color: #e9492c;
}
.text-bg-coral {
  color: white;
  background-color: #e9492c;
}
.text-green {
  color: #0a7571;
}
.bg-green {
  background-color: #0a7571;
}
.text-bg-green {
  color: white;
  background-color: #0a7571;
}
.text-green-light {
  color: #6abea2;
}
.bg-green-light {
  background-color: #6abea2;
}
.text-bg-green-light {
  color: white;
  background-color: #6abea2;
}
.text-pink {
  color: #f08a8d;
}
.bg-pink {
  background-color: #f08a8d;
}
.text-bg-pink {
  color: white;
  background-color: #f08a8d;
}
.text-blue {
  color: #3056a3;
}
.bg-blue {
  background-color: #3056a3;
}
.text-bg-blue {
  color: white;
  background-color: #3056a3;
}
.text-pink-light {
  color: #fae1e1;
}
.bg-pink-light {
  background-color: #fae1e1;
}
.text-bg-pink-light {
  color: white;
  background-color: #fae1e1;
}
.text-cream {
  color: #f7efdc;
}
.bg-cream {
  background-color: #f7efdc;
}
.text-bg-cream {
  color: white;
  background-color: #f7efdc;
}
.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-brand-padding-y: 0;
  --bs-navbar-color: #e9492c;
  --bs-navbar-hover-color: #e9492c;
  --bs-navbar-active-color: #e9492c;
  --bs-navbar-toggler-border-color: transparent;
  --bs-nav-link-font-size: 1rem;
}
@media (min-width: 992px) {
  .navbar {
    --bs-nav-link-font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  .navbar {
    --bs-nav-link-font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-expand-lg .navbar-nav .nav-link:not(.no-scrollspy) {
    position: relative;
  }
  .navbar.navbar-expand-lg .navbar-nav .nav-link:not(.no-scrollspy):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #e9492c;
    height: 2px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 0%;
  }
  .navbar.navbar-expand-lg .navbar-nav .nav-link.active:not(.no-scrollspy):after,
  .navbar.navbar-expand-lg .navbar-nav .nav-link:not(.no-scrollspy):hover:after {
    width: 100%;
  }
}
.navbar .ramps {
  position: relative;
}
.navbar .ramps:before,
.navbar .ramps:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  background: #e9492c;
  height: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}
.navbar .ramps:hover:before,
.navbar .ramps:hover:after {
  width: 0;
}
@media (min-width: 992px) {
  .navbar .ramps:before {
    top: -1.3em;
  }
  .navbar .ramps:after {
    bottom: 0.2em;
  }
}
@media (min-width: 1200px) {
  .navbar .ramps:before {
    top: -1.5em;
  }
  .navbar .ramps:after {
    bottom: 0.3em;
  }
}
.bookcase h2 {
  font-family: "Gotham Black";
  text-transform: uppercase;
  font-size: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
  .bookcase h2 {
    font-size: 1.375rem;
  }
}
.bookcase .scrolling-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  scrollbar-width: thin;
}
.bookcase .book {
  display: inline-block;
  height: 18rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  vertical-align: bottom;
}
.bookcase .book .book-cover {
  height: 100%;
  width: auto;
  border-radius: 0.25rem;
}
body {
  font-family: "Montserrat";
}
.min-vh-100 {
  min-height: 100vh;
}
.navbar {
  height: 3.5rem;
}
.navbar .offcanvas-backdrop,
.navbar .offcanvas-start {
  margin-top: 3.5rem;
}
main {
  padding-top: 3.5rem;
  overflow-x: hidden;
}
section {
  scroll-margin-top: 3.5rem;
}
.height-navbar {
  height: 3.5rem;
}
.height-logo {
  height: calc(1.825rem + 6.9vw);
}
@media (min-width: 1200px) {
  .height-logo {
    height: 7rem;
  }
}
@media (min-width: 576px) {
  .height-logo {
    height: calc(1.625rem + 4.5vw);
  }
}
@media (min-width: 576px) and (min-width: 1200px) {
  .height-logo {
    height: 5rem;
  }
}
@media (min-width: 992px) {
  .height-logo {
    height: calc(1.525rem + 3.3vw);
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .height-logo {
    height: 4rem;
  }
}
@media (min-width: 992px) {
  .py-lg-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}
h1,
h2,
.h1,
.h2 {
  font-family: "Ranille";
  color: #3056a3;
}
h1,
.h1 {
  margin: 1.5rem;
  text-align: center;
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 3rem;
  }
}
.home h1,
.home h2,
.home .h1,
.home .h2 {
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  .home h1,
  .home h2,
  .home .h1,
  .home .h2 {
    font-size: 4rem;
  }
}
.book h1,
.book .h1,
.book h2,
.book .h2,
.book h3,
.book .h3 {
  font-family: "Montserrat SemiBold";
}
.book h1,
.book .h1 {
  font-size: calc(1.325rem + 0.9vw);
  text-align: start;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;
}
@media (min-width: 1200px) {
  .book h1,
  .book .h1 {
    font-size: 2rem;
  }
}
.book h2,
.book .h2 {
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 0.5rem;
}
@media (min-width: 1200px) {
  .book h2,
  .book .h2 {
    font-size: 1.5rem;
  }
}
.book h3,
.book .h3 {
  font-size: 1rem;
}
.text-wrap-balance {
  text-wrap: balance;
}
.ls-2 {
  letter-spacing: 0.15rem;
}
.highlight {
  -webkit-box-shadow: inset 0 -0.5em 0 #fae1e1;
  box-shadow: inset 0 -0.5em 0 #fae1e1;
  padding-bottom: 0;
  display: inline;
}
.mb-last-p-0 p:last-child {
  margin-bottom: 0;
}
.text-small {
  font-size: 0.7rem;
}
.text-justify {
  text-align: justify;
}
.cursor-pointer {
  cursor: pointer;
}
.btn-cta {
  display: inline-block;
  font-family: "Gotham Black";
  padding: 1rem calc(1.275rem + 0.3vw);
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #f08a8d;
  border-radius: 3rem;
  -webkit-box-shadow: 0.25rem 0.25rem #f08a8d;
  box-shadow: 0.25rem 0.25rem #f08a8d;
  background-color: #3056a3;
  border-color: #3056a3;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (min-width: 1200px) {
  .btn-cta {
    padding: 1rem 1.5rem;
  }
}
.btn-cta:hover {
  -webkit-box-shadow: 0 0 #f08a8d;
  box-shadow: 0 0 #f08a8d;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-cta-shop {
  color: #f7efdc;
  border-radius: 3rem;
  -webkit-box-shadow: 0.25rem 0.25rem #f7efdc;
  box-shadow: 0.25rem 0.25rem #f7efdc;
  background-color: #f08a8d;
  border-color: #f08a8d;
}
.btn-cta:hover {
  -webkit-box-shadow: 0 0 #f7efdc;
  box-shadow: 0 0 #f7efdc;
}
#raphaele {
  background-image: url("/pages/index/raphaele_rodellar_reflexologie_plantaire_bordeaux.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 80vw;
}
@media (min-width: 992px) {
  #raphaele {
    min-height: 50vh;
  }
}
#practice {
  background-image: url("/pages/index/raphaele_rodellar_therapeute_reflexologue_bordeaux.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 80vw;
}
@media (min-width: 992px) {
  #practice {
    min-height: 50vh;
  }
}
.header-shape-pink-light {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15vw;
}
.header-dot-coral {
  position: absolute;
  bottom: 3.5vw;
  left: 10vw;
  width: 8vw;
}
.header-shape-blue {
  position: absolute;
  bottom: -8vw;
  left: 0;
  width: 25vw;
  -webkit-transform: rotateY(0.5turn);
  transform: rotateY(0.5turn);
}
.section4-shape-green-light {
  position: absolute;
  top: -13.5vw;
  right: -7vw;
  width: 18vw;
  -webkit-transform: rotateX(0.5turn) rotate(-65deg);
  transform: rotateX(0.5turn) rotate(-65deg);
}
.section4-shape-blue {
  position: absolute;
  top: -11vw;
  right: -1vw;
  width: 25vw;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.section4-dot-coral {
  position: absolute;
  top: 0.5vw;
  right: 6.5vw;
  width: 8vw;
}
.section4-shapelet-pink-light {
  position: absolute;
  top: 0;
  right: -3vw;
  width: 12vw;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
@media (min-width: 576px) {
  .section4-shape-green-light {
    top: -9.5vw;
  }
  .section4-shape-blue {
    top: -7vw;
  }
  .section4-dot-coral {
    top: 4.5vw;
  }
  .section4-shapelet-pink-light {
    top: 4vw;
  }
}
@media (min-width: 992px) {
  .section4-shape-green-light {
    top: -13.5vw;
  }
  .section4-shape-blue {
    top: -11vw;
  }
  .section4-dot-coral {
    top: 0.5vw;
  }
  .section4-shapelet-pink-light {
    top: 0;
  }
}
.section5-shape-blue {
  position: absolute;
  bottom: -8vw;
  left: -3vw;
  width: 25vw;
  -webkit-transform: rotate(155deg);
  transform: rotate(155deg);
}
.section5-dot-coral {
  position: absolute;
  bottom: -5vw;
  left: 15vw;
  width: 8vw;
}
.section5-shape-green-light {
  position: absolute;
  bottom: -13vw;
  left: -3vw;
  width: 18vw;
  -webkit-transform: rotateX(0.5turn) rotate(130deg);
  transform: rotateX(0.5turn) rotate(130deg);
}
@media (min-width: 576px) {
  .section5-shape-blue {
    bottom: -13vw;
  }
  .section5-dot-coral {
    bottom: -10vw;
  }
  .section5-shape-green-light {
    bottom: -18vw;
  }
}
@media (min-width: 992px) {
  .section5-shape-blue {
    bottom: -4vw;
  }
  .section5-dot-coral {
    bottom: -1vw;
  }
  .section5-shape-green-light {
    bottom: -9vw;
  }
}
@media (min-width: 1400px) {
  .section5-shape-blue {
    bottom: -8vw;
  }
  .section5-dot-coral {
    bottom: -5vw;
  }
  .section5-shape-green-light {
    bottom: -13vw;
  }
}
.btn-rr-primary {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #3056a3;
  --bs-btn-border-color: #3056a3;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #2b4d93;
  --bs-btn-hover-border-color: #2b4d93;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #264582;
  --bs-btn-active-border-color: #264582;
}
.alert {
  --bs-alert-padding-y: 0.5rem;
}
.alert-success {
  --bs-alert-color: #085e5a;
  --bs-alert-link-color: #085e5a;
  --bs-alert-border-color: #d2ece3;
  --bs-alert-bg: #d2ece3;
}
.alert-dismissible .btn-close {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.alert .btn-close {
  --bs-btn-close-bg: none;
}
.opacity-10 {
  opacity: 0.1 !important;
}
.voyage h2,
.voyage .h2 {
  font-family: "Montserrat SemiBold";
  text-transform: uppercase;
  font-size: 1.25rem;
}
.voyage .overlay .h2 {
  font-size: calc(0.7rem + 0.5vw);
}
.voyage .modal-dialog h2 {
  font-size: 0.9rem;
}
.flip-card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.flip-card.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-card .front,
.flip-card .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card .front .overlay,
.flip-card .back .overlay {
  position: absolute;
  top: calc(50% + 0.5rem);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
}
.flip-card .back {
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
