.text-blue {
  color: #3056a3;
}
.bg-blue {
  background-color: #3056a3;
}
.text-bg-blue {
  color: white;
  background-color: #3056a3;
}
.text-coral {
  color: #e9492c;
}
.bg-coral {
  background-color: #e9492c;
}
.text-bg-coral {
  color: white;
  background-color: #e9492c;
}
.text-cream {
  color: #f7efdc;
}
.bg-cream {
  background-color: #f7efdc;
}
.text-bg-cream {
  color: white;
  background-color: #f7efdc;
}
.text-green {
  color: #0a7571;
}
.bg-green {
  background-color: #0a7571;
}
.text-bg-green {
  color: white;
  background-color: #0a7571;
}
.text-green-light {
  color: #6abea2;
}
.bg-green-light {
  background-color: #6abea2;
}
.text-bg-green-light {
  color: white;
  background-color: #6abea2;
}
.text-pink {
  color: #f08a8d;
}
.bg-pink {
  background-color: #f08a8d;
}
.text-bg-pink {
  color: white;
  background-color: #f08a8d;
}
.text-pink-light {
  color: #fae1e1;
}
.bg-pink-light {
  background-color: #fae1e1;
}
.text-bg-pink-light {
  color: white;
  background-color: #fae1e1;
}
