/* Font faces */
@font-face {
  font-family: "Gotham Black";
  src: url("gotham-black.woff2") format("woff2"), url("gotham-black.otf") format("opentype");
  unicode-range: U+0020-007E, U+00A0-00A3, U+00A5, U+00A7-00AB, U+00AE-00B1, U+00B4, U+00B6-00B8, U+00BA-00BB,
    U+00BF-0107, U+010A-011B, U+011E-0123, U+0126-0127, U+012A-0131, U+0136-0137, U+0139-0148, U+014C-015B, U+015E-0165,
    U+016A-017E, U+0192, U+01FA-01FF, U+0218-0219, U+0259, U+02C6-02C7, U+02D8-02DD, U+0326, U+1E80-1E85, U+1EF2-1EF3,
    U+2002-2005, U+2009-200A, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044,
    U+20AC, U+2117, U+2120, U+2122, U+2212, U+FB00-FB04;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-regular.woff2") format("woff2"), url("montserrat-regular.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url("montserrat-semibold.woff2") format("woff2"), url("montserrat-semibold.otf") format("opentype");
}
@font-face {
  font-family: "Ranille";
  src: url("ranille.woff2") format("woff2"), url("ranille.otf") format("opentype");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A1-00A9, U+00AB, U+00AE-00B4, U+00B7-00B9, U+00BB-012B, U+012E-0137,
    U+0139-0148, U+014C-017E, U+0192, U+01C7, U+0218-021B, U+02C6-02C7, U+02D8-02DD, U+1E80-1E85, U+2013-2014,
    U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2039-203A, U+2074, U+20A3-20A4, U+20A7, U+20AC, U+20B9, U+2120,
    U+2122, U+2212, U+2260, U+E001-E009, U+E010-E019, U+E020-E029, U+E030-E039, U+E040-E049, U+E050-E059, U+E060-E069,
    U+E070-E079, U+E080-E089, U+E090-E099, U+E100-E109, U+E110-E119, U+E120-E129, U+E130-E139, U+E140-E149, U+E150-E159,
    U+E160-E169, U+E170-E179, U+E180-E189, U+E190-E199, U+E200-E209, U+E210-E211, U+FB00-FB03, U+FB06;
}

/* Font feature variables */
:root {
  --gotham-black-aalt: "aalt" off;
  --gotham-black-salt: "salt" off;
  --gotham-black-ss01: "ss01" off;
  --gotham-black-ss02: "ss02" off;
  --gotham-black-ss03: "ss03" off;
  --gotham-black-ss04: "ss04" off;
  --gotham-black-ss05: "ss05" off;
  --ranille-calt: "calt" off;
  --ranille-liga: "liga" on;
  --ranille-salt: "salt" off;
  --ranille-ss01: "ss01" off;
  --ranille-ss02: "ss02" off;
  --ranille-ss03: "ss03" off;
  --ranille-ss04: "ss04" off;
  --ranille-ss05: "ss05" off;
  --ranille-ss06: "ss06" off;
}

/* Gotham Black feature toggles */
.gotham-black-aalt {
  --gotham-black-aalt: "aalt" on;
}
.gotham-black-salt {
  --gotham-black-salt: "salt" on;
}
.gotham-black-ss01 {
  --gotham-black-ss01: "ss01" on;
}
.gotham-black-ss02 {
  --gotham-black-ss02: "ss02" on;
}
.gotham-black-ss03 {
  --gotham-black-ss03: "ss03" on;
}
.gotham-black-ss04 {
  --gotham-black-ss04: "ss04" on;
}
.gotham-black-ss05 {
  --gotham-black-ss05: "ss05" on;
}
.gotham-black-aalt,
.gotham-black-salt,
.gotham-black-ss01,
.gotham-black-ss02,
.gotham-black-ss03,
.gotham-black-ss04,
.gotham-black-ss05 {
  -webkit-font-feature-settings: var(--gotham-black-aalt), var(--gotham-black-salt), var(--gotham-black-ss01),
    var(--gotham-black-ss02), var(--gotham-black-ss03), var(--gotham-black-ss04), var(--gotham-black-ss05);
  font-feature-settings: var(--gotham-black-aalt), var(--gotham-black-salt), var(--gotham-black-ss01),
    var(--gotham-black-ss02), var(--gotham-black-ss03), var(--gotham-black-ss04), var(--gotham-black-ss05);
}

/* Ranille feature toggles */
.ranille-calt {
  --ranille-calt: "calt" on;
}
.ranille-liga-off {
  --ranille-liga: "liga" off;
}
.ranille-salt {
  --ranille-salt: "salt" on;
}
.ranille-ss01 {
  --ranille-ss01: "ss01" on;
}
.ranille-ss02 {
  --ranille-ss02: "ss02" on;
}
.ranille-ss03 {
  --ranille-ss03: "ss03" on;
}
.ranille-ss04 {
  --ranille-ss04: "ss04" on;
}
.ranille-ss05 {
  --ranille-ss05: "ss05" on;
}
.ranille-ss06 {
  --ranille-ss06: "ss06" on;
}
:root,
.ranille-calt,
.ranille-liga-off,
.ranille-salt,
.ranille-ss01,
.ranille-ss02,
.ranille-ss03,
.ranille-ss04,
.ranille-ss05,
.ranille-ss06 {
  -webkit-font-feature-settings: var(--ranille-calt), var(--ranille-liga), var(--ranille-salt), var(--ranille-ss01),
    var(--ranille-ss02), var(--ranille-ss03), var(--ranille-ss04), var(--ranille-ss05), var(--ranille-ss06);
  font-feature-settings: var(--ranille-calt), var(--ranille-liga), var(--ranille-salt), var(--ranille-ss01),
    var(--ranille-ss02), var(--ranille-ss03), var(--ranille-ss04), var(--ranille-ss05), var(--ranille-ss06);
}

/* Font family utilities (alphabetical) */
.gotham-black {
  font-family: "Gotham Black";
}
.montserrat {
  font-family: "Montserrat";
}
.montserrat-semibold {
  font-family: "Montserrat SemiBold";
}
.ranille {
  font-family: "Ranille";
}
