h1,
h2,
.h1,
.h2 {
  font-family: "Ranille";
  color: #3056a3;
}
h1,
.h1 {
  margin: 1.5rem;
  text-align: center;
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 3rem;
  }
}
.home h1,
.home h2,
.home .h1,
.home .h2 {
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  .home h1,
  .home h2,
  .home .h1,
  .home .h2 {
    font-size: 4rem;
  }
}
.book h1,
.book .h1,
.book h2,
.book .h2,
.book h3,
.book .h3 {
  font-family: "Montserrat SemiBold";
}
.book h1,
.book .h1 {
  font-size: calc(1.325rem + 0.9vw);
  text-align: start;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;
}
@media (min-width: 1200px) {
  .book h1,
  .book .h1 {
    font-size: 2rem;
  }
}
.book h2,
.book .h2 {
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 0.5rem;
}
@media (min-width: 1200px) {
  .book h2,
  .book .h2 {
    font-size: 1.5rem;
  }
}
.book h3,
.book .h3 {
  font-size: 1rem;
}
