---
title: Dans ma Bibliothèque
---

<h1><span class="ranille-calt">D</span>ans <span class="ranille-ss01">m</span>a <span class="ranille-calt">B</span>ibliothèqu<span class="ranille-calt">e</span></h1>

<p>
  Dans ma Bibliothèque
</p>

<% blog.articles.group_by { _1.data.category}.each do |category, articles| %>
  <h2><%= category %></h2>

  <% articles.each do |article| %>
    <article>
      <h3>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h3>
    </article>
  <% end %>
<% end %>
