---
title: Soyons curieux !
---

<div class="container content">
  <h1>
    <span class="ranille-ss01">S</span>o<span class="ranille-ss02">y</span>ons curieu<span class="ranille-ss02">x</span>
    !
  </h1>

  <div class="row g-4 justify-content-center">
    <div class="col-12 col-md-4">
      <% link_to '/voyage-au-coeur-d-une-seance', class: 'h-100 d-flex justify-content-center align-items-center
      bg-cream text-decoration-none' do %>
        <div class="p-5">
          <h4 class="mb-0 ranille text-blue text-wrap-balance text-center">
            <span class="ranille-calt">V</span>o<span class="ranille-ss02">y</span><span class="ranille-salt">a</span
            ><span class="ranille-ss03">g</span>e <span class="ranille-salt">a</span>u cœ<span class="ranille-ss01"
              >u</span
            >r <span class="ranille-ss02">d</span>'une sé<span class="ranille-salt">a</span
            ><span class="ranille-ss02">n</span>c<span class="ranille-calt">e</span>
          </h4>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-4">
      <%# link_to '/bibliotheque', class: 'h-100 d-flex justify-content-center align-items-center bg-pink-light
      text-decoration-none' do %>
      <div class="h-100 d-flex justify-content-center align-items-center bg-pink-light
      text-decoration-none">
        <div class="p-5">
          <h4 class="mb-0 ranille text-coral text-wrap-balance text-center">
            <span class="ranille-calt">D</span>ans <span class="ranille-ss01">m</span>a
            <span class="ranille-calt">B</span>ibliothèqu<span class="ranille-calt">e</span>
          </h4>
          <div class="mt-2 text-coral text-wrap-balance text-center">(Ça arrive bientôt !)</div>
        </div>
      </div>
      <%# end %>
    </div>

    <!--
    <div class="col-12 col-md-4">
      <% link_to '/actualites', class: 'h-100 d-flex justify-content-center align-items-center bg-green-light text-decoration-none' do %>
        <div class="p-5">
          <h4 class="mb-0 ranille text-cream text-wrap-balance text-center">
            <span class="ranille-ss04">A</span>ctua<span class="ranille-ss01">l</span>ités
          </h4>
        </div>
      <% end %>
    </div>
    -->
  </div>

  <div class="py-5">
    <p>Pour vous inscrire à ma newsletter, renseignez vos coordonnées ci-dessous.</p>

    <div class="my-4">
      <form
        id="newsletterSubscriptionForm"
        class="row g-3 needs-validation"
        novalidate
        action="<%= config[:newsletter_subscription_url] %>"
        accept-charset="utf-8"
        method="post"
      >
        <div class="col-12 col-md-6 col-lg-3">
          <label for="subscriber_first_name" class="form-label">Prénom</label>
          <input type="text" class="form-control" name="subscriber[first_name]" id="subscriber_first_name" required />
          <div class="invalid-feedback">Saisissez votre prénom</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <label for="subscriber_last_name" class="form-label">Nom</label>
          <input type="text" class="form-control" name="subscriber[last_name]" id="subscriber_last_name" required />
          <div class="invalid-feedback">Saisissez votre nom</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <label for="subscriber_email" class="form-label">Email</label>
          <input type="email" class="form-control" name="subscriber[email]" id="subscriber_email" required />
          <div class="invalid-feedback">Saisissez votre email</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-grid">
          <div class="form-label d-none d-md-block"> </div>
          <button class="btn btn-rr-primary" type="submit">S'inscrire</button>
          <div class="valid-feedback">
            <div class="d-none d-md-block"> </div>
          </div>
        </div>
      </form>
    </div>

    <div id="subscriptionSuccessAlert" class="d-none alert alert-success alert-dismissible fade show" role="alert">
      Merci, votre inscription a bien été prise en compte. A bientôt !
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <i class="fa-solid fa-circle-xmark text-coral d-block"></i>
      </button>
    </div>

    <p class="fst-italic">Vos coordonnées ne seront utilisées pour rien d'autre.</p>
  </div>
</div>

<% content_for :assets do %> <%= javascript_include_tag 'curious', defer: true %> <% end %>
